/* Basic editor styles */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');

.ProseMirror {
  font-family: 'Poppins', sans-serif;
  min-width: 658px;
  min-height: 480px;
  max-height: calc(100vh - 70px);
  overflow-y: auto;
  padding-right: 5px;
  font-size: 1rem;
  @apply border-none;
}

.ProseMirror-focused {
  border: none;
  outline: none;
}

.ProseMirror p {
  margin-top: 2px;
}

.ProseMirror.ProseMirror-focused {
  border: none;
  focus: none;
}

.ProseMirror code {
  display: block;
  background: theme('colors.blue.prussian' / 90%);
  width: 100%;
  padding: 1rem;
  @apply rounded-sm text-white;
}

.ProseMirror img {
  border-radius: 5px;
}

.ProseMirror ul {
  @apply pl-7 list-disc;
}

.ProseMirror blockquote {
  @apply pl-7 ml-5 border-l-2 border-solid italic;
  border-color: theme('colors.blue.prussian' / 20%);
  color: theme('colors.blue.prussian' / 80%);
}

.ProseMirror h1 {
  @apply text-xl font-bold;
}

.ProseMirror h2 {
  @apply text-md font-bold;
}

.ProseMirror h3 {
  @apply text-sm font-bold;
}

.ProseMirror a {
  color: theme('colors.blue.prussian');
  text-decoration: underline;
}

.ProseMirror a:hover {
  cursor: pointer;
}
