@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  ::-webkit-scrollbar {
    width: 5px;
    height: 5px;
  }

  ::-webkit-scrollbar:hover {
    cursor: pointer;
  }

  ::-webkit-scrollbar-track {
    border-radius: 100vh;
    background: theme(colors.blue.prussian / 20%);
  }

  ::-webkit-scrollbar-thumb {
    background: theme(colors.blue.prussian / 80%);
    border-radius: 100vh;
    border: 3px solid theme(colors.blue.prussian / 80%);
  }

  ::-webkit-scrollbar-thumb:hover {
    background: theme(colors.blue.prussian);
    cursor: pointer;
  }

  .border-dash-space {
    text-align: center;
    line-height: 100px;
    background: linear-gradient(to right, theme(colors.gray.true) 50%, rgba(0, 0, 0, 0) 0%),
      linear-gradient(theme(colors.gray.true) 50%, rgba(0, 0, 0, 0) 0%),
      linear-gradient(to right, theme(colors.gray.true) 50%, rgba(0, 0, 0, 0) 0%),
      linear-gradient(theme(colors.gray.true) 50%, rgba(0, 0, 0, 0) 0%);
    background-position: top, right, bottom, left;
    background-repeat: repeat-x, repeat-y;
    background-size: 110px 5px, 5px 110px;
  }
}

@import './editor.css';
